In [14]:
from application_logging.logger import App_Logger
from DatabaseConnection.Database import dataBaseOperation
import pandas as pd

In [2]:
logger = App_Logger('logFiles/Expo & Impo.log')

## Using Database energyefficiency

In [4]:
logger.info('INFO','Using The energyefficiency Database')
connection = dataBaseOperation()
logger.info('INFO','Creating The Connection With The DataStax Connection')

## Using Keyspace energy

In [5]:
logger.info('INFO','Using The energy Keyspace')
connection.useKeySpace()
logger.info('INFO','Using The energy Keyspace For Table Creation')

## Creating The Table

In [6]:
logger.info('INFO','Creating The Table With Name energy_data')
connection.createTable()
logger.info('INFO','Table Is Created Inside The Keyspace having a Name energy_data')

## Exporting The ENB2012_data.csv  File Into Database

In [8]:
logger.info('INFO','Trying To Put The Data Into The Database For Backup Purpose')
connection.insertIntoTable()
logger.info('INFO','The File Upload Into The Database')

TypeError: format() takes no keyword arguments

## Getting The Data From The Database

In [13]:
logger.info('INFO','Trying To Get The Data Form The Database For EDA Purpose')
print(connection.getData())
logger.info('INFO','The Data Is Import Successfuly')

     id    x1     x2     x3     x4   x5  x6    x7  x8         y1         y2
0    23  0.76  661.5  416.5  122.5  7.0   4  0.00   0  24.770000  29.790001
0   114  0.79  637.0  343.0  147.0  7.0   3  0.10   2  37.259998  34.619999
0   660  0.69  735.0  294.0  220.5  3.5   5  0.40   3  14.080000  17.020000
0    53  0.90  563.5  318.5  122.5  7.0   2  0.10   1  29.030001  32.919998
0   110  0.82  612.5  318.5  147.0  7.0   3  0.10   2  24.230000  25.020000
..  ...   ...    ...    ...    ...  ...  ..   ...  ..        ...        ...
0   275  0.69  735.0  294.0  220.5  3.5   4  0.10   5  11.110000  14.460000
0   641  0.79  637.0  343.0  147.0  7.0   2  0.40   3  41.259998  46.439999
0   309  0.76  661.5  416.5  122.5  7.0   2  0.25   1  36.959999  36.849998
0   232  0.66  759.5  318.5  220.5  3.5   5  0.10   4  11.430000  14.830000
0   103  0.90  563.5  318.5  122.5  7.0   4  0.10   2  28.830000  29.360001

[768 rows x 11 columns]

In [20]:
logger.info('INFO','Loading The Data Into Given IDE')
df = pd.DataFrame(connection.getData())
df_analysis=df.sort_values('id')
df_analysis

     id    x1     x2     x3      x4   x5  x6   x7  x8         y1         y2
0     1  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.550000  21.330000
0     2  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.550000  21.330000
0     3  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.550000  21.330000
0     4  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.550000  21.330000
0     5  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.840000  28.280001
..  ...   ...    ...    ...     ...  ...  ..  ...  ..        ...        ...
0   764  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.879999  21.400000
0   765  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.540001  16.879999
0   766  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.440001  17.110001
0   767  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.480000  16.610001
0   768  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.639999  16.030001

[768 rows x 11 columns]

In [21]:
df_analysis.to_csv('Dataset/Analysis_Purpose.csv')